# HTTPS на :8080. Явно укажите IP VPS (замените на свой).
# https://153.56.132.67:8080

{
	auto_https disable_redirects
}

https://153.56.132.67:8080, https://privately.proven.hornet:8080 {
	tls internal
	reverse_proxy gateway:8080
}
